$background: #e7fcec;
$text: #05250c;


body{
    background-color: $background;
    font-family: 'Permanent Marker', cursive;
    color: $text;
}

.container{
    max-width: 800px;
    padding: 0 15px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
}

.header{
    padding-top: 50px;
    text-align: center;

    &-title{
        font-size: 48px;
        line-height: 32px;
        margin-bottom: 25px;
    }

    &-descr{
        font-size: 32px;
        margin-bottom: 75px;
    }
    
    .btn{
        text-transform: uppercase;
        border: 1px solid $text;
        padding: 15px;
        font-size: 20px;
    }
}